@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
}

/***************** Night theme ***********************/

body.night {
    background-color: #282828;
    background-size:cover;
    background-image: url("../images/seamless-animation-desert-sand-storm-at-night-with-palm-trees-shining-stars-and-pyramids-background-landscape-with-sand-hills-desert-in-4k-ultra-hd_rqxov7jyx_thumbnail-full02.png")
}

div.card * {
    color: whitesmoke;
}

hr.night {
    background-color: whitesmoke;
}

p.night {
    color: whitesmoke;
}

h1.night {
    color: white;
}

.navbar.night {
    background-color: transparent;
}

.active.night {
    border-bottom: 1px solid white;
}

/***************** Normal theme ***********************/

body {
    background-color: whitesmoke;
    background-image: url(../images/Desert_Background-1162.jpg);
    background-size:cover;
}

div.card * {
    color: black;
}

hr {
    background-color: black;
}

p {
    color: black;
}

h1 {
    color: black;
}

.navbar {
    background-color: rgb(200,200,200,0.2);
    box-shadow: 0 1px 10px;
}

.active {
    border-bottom: 1px solid black;
}

#surprise {
margin-right:auto;
margin-left:auto;
}